@media (max-width: 480px) {
    /* -------------------------------------------------------- */
    /* ---------------------- PAGE STYLING -------------------- */
    h1 {
        font-size: 2.2rem;
        text-align: center;
    }

    h2 {
        font-size: 1.6rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 1rem;
    }

    /* -------------------------------------------------------- */
    /* --------------------- HEADER STYLING ------------------- */
    #desktop-header {
        display: none;
    }

    #mobile-header {
        display: flex;
    }

    header {
        height: 6%;
        margin-top: 6px;
        z-index: 7;
    }

    .home-link {
        margin-left: 10px;
        height: 100%;
    }

    .early-access {
        font-size: 0.9rem;
        padding: 3px 8px;
        border-radius: 20px;
        margin-right: 15px;
    }

    menu-icon {
        height: 20px;
        width: 20px;
        margin-right: 15px;
        fill: #fff;
    }

    menu-icon.scrolled {
        fill: #333;
    }

    close-icon {
        height: 20px;
        width: 20px;
        margin-right: 15px;
        fill: #fff;
    }

    close-icon.scrolled {
        fill: #333;
    }

    /* NAV MENU */
    #mobile-nav {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-image: linear-gradient(90deg, #e5287e 0%, #7f3f98 100%);
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 70%;
        height: 50%;
    }

    nav ul {
        list-style-type: none;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 0px;
    }

    nav li {
        margin-bottom: 30px;
    }

    .current-page {
        text-decoration: underline;
    }

    nav .early-access {
        font-size: 1.1rem;
        padding: 4px 10px;
        background-color: #7f3f98;
        border: 0.15rem solid #7f3f98;
    }

    nav .early-access:hover {
        background-color: #e0c9e8;
        color: #7f3f98;
    }

    #mobile-nav-footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        background: transparent;
        transition: all 0.3s ease;
        fill: #fff;
        color: #fff;
    }

    #mobile-nav-footer.scrolled {
        fill: #7f3f98;
        color: #7f3f98;
    }

    #mobile-nav-footer .socials {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-right: 5px;
        margin-bottom: 10px;
        height: 50%;
    }

    #mobile-nav-footer a {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #mobile-nav-footer .copyright {
        margin-right: 15px;
        margin-bottom: 10px;
    }

    #mobile-nav-footer p {
        margin: 0;
        font-size: 0.7rem;
        font-family: "Lato", sans-serif;
        text-align: right;
    }

    #mobile-nav.scrolled {
        background-image: none;
        background-color: #fff;
    }

    /* -------------------------------------------------------- */
    /* --------------------- MAIN STYLING --------------------- */

    /* --------------------- Home Page --------------------- */
    #t2s-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #t2s-content .column {
        width: 83%;
        margin-right: 0%;
    }

    #t2s-content .text-content {
        height: 40%;
        margin-top: 15%;
    }

    #t2s-content .img-content {
        margin-top: 5%;
        height: 35%;
    }

    #t2s-content img {
        width: 100%;
    }

    .secondary-content.index {
        background-image: url("./assets/possibility_neuron_transparent.png");
        background-origin: content-box;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 110% auto;
        background-position-x: left 20px;
        background-position-y: top 110%;
    }

    .secondary-content.index.page2 .column {
        width: 83%;
    }

    .secondary-content.index.page2 h2 {
        text-align: left;
    }

    .secondary-content.index.page2 .row {
        height: 10%;
        margin-top: 4%;
    }

    .secondary-content.index.page3 .column {
        width: 85%;
    }

    .secondary-content.index.page3 iframe {
        width: 100%;
        height: 35%;
    }

    /* --------------------- About Page --------------------- */
    #about-content .column {
        width: 80%;
    }

    .secondary-content.about.page2 {
        height: 250%;
        justify-content: flex-start;
    }

    .secondary-content.about.page3 {
        height: 160%;
        justify-content: flex-start;
    }

    .secondary-content.about h1 {
        margin-top: 60px;
        margin-bottom: 40px;
    }

    #team {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #team .headshot {
        height: 250px;
        width: 180px;
        margin: 30px 0;
    }

    .team-name {
        font-size: 1.2rem;
        font-weight: 500;
    }
    .team-position {
        font-size: 1rem;
        font-weight: 300;
    }

    #partners {
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    #partners img {
        margin: 30px 0;
    }

    #remarkable-logo {
        height: 120px;
    }

    #innovate-logo {
        height: 90px;
    }

    #cdl-logo {
        height: 80px;
    }

    #cp-logo {
        height: 120px;
    }

    /* ------------------- Contact Page ------------------- */
    #contact-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200%;
    }

    #contact-content .overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    #contact-descrip {
        width: 85%;
        margin-right: 0;
    }

    #mailing-list {
        font-size: 1.1rem;
        padding: 6px 12px;
        border-radius: 22px;
        border: 0.15rem solid #7f3f98;
    }

    #contact-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 60%;
        margin-left: 0;
    }

    #contact-info div {
        width: 100%;
    }

    #contact-info .email {
        font-size: 1.2rem;
    }

    #contact-info .location {
        font-size: 1.2rem;
    }

    #contact-info .socials a {
        height: 22px;
        width: 22px;
        margin-right: 10px;
    }

    /* FOOTER */
    footer {
        display: none;
    }
}
